
/* ============================================= */
/* ==================== MAIN =================== */
/* ============================================= */

main {
  padding: 3.5rem min(25px, 5%);
  min-height: calc(100vh - 110px - 60px - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

main form.signup {
  max-width: 400px;
  background-color: var(--PRIMARY);
  padding: 1.2rem 1rem;
  position: relative;
  border-radius: 30px 5px;
}

main form.signup::after,
main form.signup::before {
  content: '';
  position: absolute;
  inset: -5px;
  background-image: conic-gradient(
    from var(--conic-angle),
    var(--color-info),
    transparent,
    transparent,
    var(--color-warning),
    transparent,
    transparent,
    var(--color-info)
  );
  z-index: -1;
  animation: border-animation 4s linear 1s infinite normal forwards;
  border-radius: inherit;
}

main form.signup::before {
  z-index: -2;
  filter: blur(3px);
  opacity: 0.8;
  animation: blur-effect 3.5s linear infinite 3.5s, glowing-border 3.5s linear infinite;
}

@keyframes border-animation {
  from {
    --conic-angle: 53deg;
  }
  to {
    --conic-angle: -307deg;
  }
}

@keyframes blur-effect {
  0% {
    filter: blur(3px);
  }
  60% {
    filter: blur(8px);
  }
  100% {
    filter: blur(3px);
  }
}

/* ----- The placeholder for new developers to kicksatrt from */
main .placeholder {
  font-size: 80px;
  text-align: center;
  color: rgb(40, 141, 196);
}
