
/* ============================================= */
/* =================== NAVBAR ================== */
/* ============================================= */

nav {
  position: sticky;
  top: 0;
  background-color: var(--PRIMARY);
  padding: 1rem;
  text-align: center;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 4;
}

nav .lead > ul,
nav .tail > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

nav .lead li,
nav .tail li {
  list-style: none;
  height: 100%;
}

nav .lead a,
nav .tail a {
  text-decoration: none;
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  color: inherit;
  text-transform: uppercase;
}

nav .lead a:hover,
nav .tail a:hover,
nav .lead a:focus,
nav .tail a:focus {
  color: var(--color-warning);
}

nav .lead span,
nav .tail span {
  padding: 4px 0;
  border: 2.5px solid transparent;
}

nav .lead a.active span,
nav .tail a.active span {
  border-bottom-color: var(--color-warning);
  color: var(--color-warning);
}

nav li.more,
nav li.more a > span {
  position: relative;
}

nav li.more svg {
  position: absolute;
  top: 0;
  left: calc(100% - 3px);
  bottom: 0; 
}

nav li.more a:hover svg,
nav li.more a:focus svg {
  fill: var(--color-warning);
}

nav .lead li.more ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: fit-content;
  background-color: var(--PRIMARY);
  border-radius: 0 0 15px 15px;
  padding: 0.5rem 0;
  overflow: hidden;
  z-index: 4;
}

nav li.more ul li a {
  text-transform: capitalize;
  justify-content: start;
  border: 1px solid transparent;
}

  /* border-bottom-color: var(--color-warning); */

nav li.more ul li a:hover:not(.active),
nav li.more ul li a:focus:not(.active) {
  color: var(--color-warning);
  opacity: 0.65;
}

nav li.more ul li a.active {
  color: var(--color-warning);
  font-weight: bold;
}

nav li.more ul .divider {
  border: 1px solid var(--color-warning);
  margin: 0.35rem 0;
  opacity: 0.5;
}

/* ------ Tablet view --------- */
nav button {
  background-color: transparent;
  display: block;
  height: 100%;
  padding: 12px 14px;
}

nav .lead-tablet svg,
nav .tail-tablet svg {
  fill: var(--color-denary);
  width: 35px;
  height: 35px;
}

nav button.lead-tablet:hover svg,
nav .tail-tablet button:hover svg,
nav button.lead-tablet:focus svg,
nav .tail-tablet button:focus svg {
  fill: var(--color-warning);
}

nav .tail-tablet .profile {
  position: relative;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  transition: width 2s ease-in-out;
  height: 100%;
  margin: auto;
  background-color: var(--SECONDARY);
  margin-right: -25px;
}

nav .tail-tablet .profile div {
  display: inline-block;
}

nav .tail-tablet .profile a {
  color: inherit;
  padding: 1.15rem 0.75rem;
  display: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

nav .tail-tablet .profile a:hover,
nav .tail-tablet .profile a:focus {
  color: var(--color-warning);
}

nav .tail-tablet .profile .close {
  position: absolute;
  top: 0;
  right: 100%;
  width: 3.125rem;
  bottom: 0;
}

nav .tail-tablet .profile .close button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 2.25rem;
  color: var(--color-warning);
  background-color: var(--SECONDARY);
}

nav .tail-tablet .profile .close button:hover,
nav .tail-tablet .profile .close button:focus {
  opacity: 0.75;  
}



/* ------ Phone view --------- */
.nav__phone--modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #1b1c2720;
  backdrop-filter: blur(10px);
}

.nav__content {
  color: inherit;
  width: min(100%, 250px);
  height: 100%;
  background-color: var(--PRIMARY);
  box-shadow: 0 0 8px rgba(255, 133, 27, 0.2);
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

.nav__phone--modal .close {
  position: sticky;
  top: 0;
  height: 60px;
}

.nav__phone--modal .close button {
  font-weight: 500;
  font-size: 3rem;
  color: var(--color-warning);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem 0 auto;
}

.nav__phone--modal .close button:hover,
.nav__phone--modal .close button:focus {
  color: rgba(255, 133, 27, 0.785);
}

.nav__content a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-size: 1.05rem;
}

.nav__content li.more ul a {
  padding-left: calc(20px + 2rem);
}

.nav__content a.active {
  color: var(--color-warning);
  font-weight: 800;
}

.nav__content a:not(a.active):hover,
.nav__content a:not(a.active):focus {
  color: var(--color-warning);
}

.nav__content a span {
  padding: 4px 0;
  border: 2.5px solid transparent;
}

.nav__content a.active span {
  border-bottom-color: var(--color-warning);
}




/* Setting nav components to their default state __(Initally Large Screens)__ */

/* Hiding mobile (phone and tablet) design elements on initial state */

nav .lead li.more li.about,
nav .lead li.more li.services,
nav .lead li.more li.contact,
nav .lead li.more li.faq,
nav .lead li.more li.community,
nav .lead li.more li.sponsor,
nav li.more ul .divider,
nav li.more ul,
nav .lead-tablet,
nav .tail-tablet ,
.nav__content li.more > a .icon-up,
nav .lead svg .icon-down,
nav .nav__phone--modal,
nav .tail-tablet .profile,
.nav__phone--modal {
  display: none;
}